<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" data-ng-init="find()">
    <div class="row">
        <h1>Special Skills</h1>
        <form>
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" id="location" data-ng-model="skill.name" placeholder="Special Skill">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-default col-md-12" data-ng-click="create()">Create</button>
                </div>
            </div>
        </form>
        <hr>
        <table class="table table-striped">
            <tr>
                <th>Skill</th>
                <th>Actions</th>
            </tr>
            <tr data-ng-repeat="skill in skills">
                <td>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="interest" data-ng-model="skill.name" placeholder="Skill">
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <button class="btn btn-warning" data-ng-click="update(skill)">Update</button>
                    <button class="btn btn-danger" data-ng-click="delete(skill)">Delete</button>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>
