<div ng-include="'components/navbar/navbar.html'" data-ng-init="loadVolunteers()"></div>
<div class="container" data-ng-init="find()">
    <div class="row" data-ng-init="loadLocations()">
        <h1>Hours</h1>
        <div class="alert alert-dismissible alert-info" data-ng-if="hourLog.volunteer">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Volunteer Selected: {{hourLog.volunteer.firstName}} {{hourLog.volunteer.lastName}} - {{hourLog.volunteer.address1}}
        </div>
        <div class="alert alert-dismissible alert-danger" data-ng-if="errorMsg">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Error: {{errorMsg}}
        </div>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <input data-ng-model="search" type="text" class="form-control" id="volunteer" placeholder="Begin Typing a Volunteer...">
                    <ul data-ng-if="search.length > 0" class="volunteerSearch">
                        <li ng-repeat="volunteer in volunteers | filter:search" class="volunteerSearch">
                            <a href="" data-ng-click="selectVolunteer(volunteer)"> {{volunteer.firstName}} {{volunteer.lastName}} - {{volunteer.address1}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="hourLog.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Select a Date" />
                        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="volunteer" data-ng-model="hourLog.timeIn" placeholder="Time In">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="volunteer" data-ng-model="hourLog.timeOut" placeholder="Time Out">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default col-md-12" data-ng-click="create()">Add</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" data-ng-options="location.name for location in locations" data-ng-model="hourLog.location"></select>
                </div>
                <div class="col-md-6">
                    <input data-ng-model="hourLog.department" type="text" class="form-control" id="department" placeholder="Volunteered Department">
                </div>
            </div>
        </form>
        <hr>
        <table class="table table-striped">
            <tr>
                <th>Volunteer</th>
                <th>Date</th>
                <th>Location</th>
                <th>Department</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Hours Worked</th>
                <th>Actions</th>
            </tr>
            <tr data-ng-repeat="log in logs">
                <td>
                    <a href="/volunteer/{{log.volunteer._id}}">{{log.volunteer.firstName}} {{log.volunteer.lastName}}</a>
                </td>
                <td>
                    {{log.date | date: 'MM/dd/yyyy'}}
                </td>
                <td>
                    {{log.location}}
                </td>
                <td>
                    {{log.department}}
                </td>
                <td>
                    {{log.timeIn}}
                </td>
                <td>
                    {{log.timeOut}}
                </td>
                <td>
                    {{hoursToString(hoursWorked(log.timeIn, log.timeOut))}}
                </td>
                <td>
                    <button class="btn btn-danger" data-ng-click="delete(log)">Delete</button>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>
