<head>
    <script>
    function bodyOnLoad() {
        setTimeout(function() {
            window.location.assign('http://localhost:9000/');
        }, 5000);

    }
    </script>
</head>

<body onload="bodyOnLoad()">
    test
</body>
