<div ng-include="'components/navbar/navbar.html'" data-ng-init="loadLogs()"></div>
<div class="container" data-ng-init="generateReport()">
    <div class="row">
        <div class="col-md-3">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="report.start" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Start Date" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-3">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="report.end" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="End Date" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-3">
            <input data-ng-model="report.department" type="text" class="form-control" id="volunteer" placeholder="Department">
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-default col-md-12" data-ng-click="generateReport()">Generate Report</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-dismissible alert-success" data-ng-init="getTotalVolunteers()">
                <h3>Volunteers: {{totalVolunteers}}</h3>
                <br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-dismissible alert-warning" data-ng-init="getTotalVolunteers()">
                <h3>Hours Logged: <br>{{hoursToString(totalWorked)}}</h3>
                <br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-dismissible alert-info" data-ng-init="getTotalVolunteers()">
                <h3>Avg Hours/Volunteer: {{hoursToString(totalWorked/totalVolunteers)}}</h3>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" data-ng-if="report.department == ''">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Volunteer Growth</h3>
                </div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" data="lineData" labels="lineLabels" legend="true" series="series" click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div data-ng-class="{true:'col-md-12', false:'col-md-6'}[report.department !== '']">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Hours Logged</h3>
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" data="hoursLoggedData" labels="labels" style="height: 300px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" data-ng-if="report.department == ''">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Log Entries</h3>
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" data="data" labels="labels" style="height: 300px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
