<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" data-ng-init="loadInterestsLocationsSkills()">
    <div class="row" data-ng-init="findOne()">
        <h1>Edit Volunteer</h1>
        <form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" data-ng-model="volunteer.firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="middleName">Middle Initial</label>
                            <input type="text" class="form-control" id="middleName" data-ng-model="volunteer.middleName" placeholder="Middle Initial">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" data-ng-model="volunteer.lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" data-ng-model="volunteer.email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="phoneHome">Phone Number (Home)</label>
                            <input type="text" class="form-control" id="phoneHome" data-ng-model="volunteer.phoneHome" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="phoneCell">Phone Number (Cell)</label>
                            <input type="text" class="form-control" id="phoneCell" data-ng-model="volunteer.phoneCell" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address1">Address Line 1</label>
                            <input type="text" class="form-control" id="address1" data-ng-model="volunteer.address1" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label for="address2">Address Line 2</label>
                            <input type="text" class="form-control" id="address2" data-ng-model="volunteer.address2" placeholder="Address Line 2">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" data-ng-model="volunteer.city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" data-ng-model="volunteer.state" placeholder="State">
                        </div>
                        <div class="form-group">
                            <label for="zip">Zipcode</label>
                            <input type="text" class="form-control" id="zip" data-ng-model="volunteer.zip" placeholder="Zipcode">
                        </div>
                        <div class="form-group">
                            <label for="ssn">SSN</label>
                            <input type="text" class="form-control" id="ssn" data-ng-model="volunteer.ssn" placeholder="Social Security Number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Education/Employment Information</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="school">School</label>
                            <input type="text" class="form-control" id="school" data-ng-model="volunteer.school" placeholder="School">
                        </div>
                        <div class="form-group">
                            <label for="degree">Degree (if applicable)</label>
                            <input type="text" class="form-control" id="degree" data-ng-model="volunteer.degree" placeholder="Degreee">
                        </div>
                        <div class="form-group">
                            <label for="employer">Employer</label>
                            <input type="text" class="form-control" id="employer" data-ng-model="volunteer.employer" placeholder="Employer">
                        </div>
                        <div class="form-group">
                            <label for="jobTitle">Job Title</label>
                            <input type="text" class="form-control" id="jobTitle" data-ng-model="volunteer.jobTitle" placeholder="Job Title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Special Skills</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="checkbox" data-ng-repeat="skill in specialSkills">
                            <input type="checkbox" data-ng-model="skill.isChecked" value="{{skill.name}}">{{skill.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Locations</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="checkbox" data-ng-repeat="location in locations">
                            <input type="checkbox" data-ng-model="location.isChecked" value="{{location.name}}">{{location.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Availability</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-1">
                            <h5>Monday</h5>
                            <input data-ng-model="volunteer.availability.monday.morning" type="checkbox"> Morn
                            <br>
                            <input data-ng-model="volunteer.availability.monday.afternoon" type="checkbox"> Aft
                            <br>
                            <input data-ng-model="volunteer.availability.monday.evening" type="checkbox"> Eve
                            <br>
                        </div>
                        <div class="col-md-1">
                            <h5>Tuesday</h5>
                            <input data-ng-model="volunteer.availability.tuesday.morning" type="checkbox"> Morn
                            <br>
                            <input data-ng-model="volunteer.availability.tuesday.afternoon" type="checkbox"> Aft
                            <br>
                            <input data-ng-model="volunteer.availability.tuesday.evening" type="checkbox"> Eve
                            <br>
                        </div>
                        <div class="col-md-1">
                            <h5>Wednesday</h5>
                            <input data-ng-model="volunteer.availability.wednesday.morning" type="checkbox"> Morn
                            <br>
                            <input data-ng-model="volunteer.availability.wednesday.afternoon" type="checkbox"> Aft
                            <br>
                            <input data-ng-model="volunteer.availability.wednesday.evening" type="checkbox"> Eve
                            <br>
                        </div>
                        <div class="col-md-1">
                            <h5>Thursday</h5>
                            <input data-ng-model="volunteer.availability.thursday.morning" type="checkbox"> Morn
                            <br>
                            <input data-ng-model="volunteer.availability.thursday.afternoon" type="checkbox"> Aft
                            <br>
                            <input data-ng-model="volunteer.availability.thursday.evening" type="checkbox"> Eve
                            <br>
                        </div>
                        <div class="col-md-1">
                            <h5>Friday</h5>
                            <input data-ng-model="volunteer.availability.friday.morning" type="checkbox"> Morn
                            <br>
                            <input data-ng-model="volunteer.availability.friday.afternoon" type="checkbox"> Aft
                            <br>
                            <input data-ng-model="volunteer.availability.friday.evening" type="checkbox"> Eve
                            <br>
                        </div>
                        <div class="col-md-1">
                            <h5>Saturday</h5>
                            <input data-ng-model="volunteer.availability.saturday.morning" type="checkbox"> Morn
                            <br>
                            <input data-ng-model="volunteer.availability.saturday.afternoon" type="checkbox"> Aft
                            <br>
                            <input data-ng-model="volunteer.availability.saturday.evening" type="checkbox"> Eve
                            <br>
                        </div>
                        <div class="col-md-1">
                            <h5>Sunday</h5>
                            <input data-ng-model="volunteer.availability.sunday.morning" type="checkbox"> Morn
                            <br>
                            <input data-ng-model="volunteer.availability.sunday.afternoon" type="checkbox"> Aft
                            <br>
                            <input data-ng-model="volunteer.availability.sunday.evening" type="checkbox"> Eve
                            <br>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Areas of Interest</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="checkbox" data-ng-repeat="interest in areasOfInterest">
                            <input type="checkbox" data-ng-model="interest.isChecked" value="{{interest.name}}">{{interest.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Misc</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" data-ng-model="volunteer.status" placeholder="Volunteer Status">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="status">Caregiver/Background Check Form</label>
                                    <input type="checkbox" class="form-control" data-ng-model="volunteer.backgroundCheck">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="status">Date Signed</label>
                                    <input type="text" class="form-control" id="status" data-ng-model="volunteer.backgroundCheckDate" placeholder="Enter Date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="status">Confidentiality Form</label>
                                    <input type="checkbox" class="form-control" data-ng-model="volunteer.confidentialityForm">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="status">Date Signed</label>
                                    <input type="text" class="form-control" id="status" data-ng-model="volunteer.confidentialityFormDate" placeholder="Enter Date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default col-md-12" data-ng-click="updateVolunteer()">Submit</button>
                </div>
            </div>
        </form>
        <hr>
    </div>
</div>
