<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" data-ng-init="find()">
    <div class="row">
        <h1>Volunteers</h1>
        <div class="row">
            <div class="col-md-4">
                <a href="volunteer/new" class="btn btn-primary">New Volunteer</a>
            </div>
            <div class="col-md-8">
                <input data-ng-model="search" type="text" class="form-control" id="volunteer" placeholder="Type to begin search...">
            </div>
        </div>
        <hr>
        <table class="table table-striped">
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            <tr data-ng-repeat="volunteer in volunteers | filter:search">
                <td>{{volunteer.status}}</td>
                <td>{{volunteer.firstName}} {{volunteer.middleName}} {{volunteer.lastName}}</td>
                <td>{{volunteer.address1}}
                    <br>{{volunteer.address2}}
                    <br>{{volunteer.city}}, {{volunteer.state}} {{volunteer.zip}}</td>
                <td>{{volunteer.email}}</td>
                <td>{{volunteer.phoneCell}} (Cell)
                    <br>{{volunteer.phoneHome}} (Home)</td>
                <td>
                    <a class="btn btn-primary" href="volunteer/{{volunteer._id}}" role="button">View</a>
                    <a class="btn btn-warning" href="volunteer/{{volunteer._id}}/edit" role="button">Edit</a>
                    <button class="btn btn-danger" data-ng-click="delete(volunteer)">Delete</button>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>
