<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" data-ng-init="findOne()">
    <div class="row">
        <h3>Volunteer: {{volunteer.fullName}}</h3>
        Status: {{volunteer.status}}<br />
        <span class="label label-success" data-ng-if="volunteer.confidentialityForm">Confidentiality form filled out {{volunteer.confidentialityFormDate}}</span>
        <span class="label label-danger" data-ng-if="!volunteer.confidentialityForm">Confidentiality form not filled out</span>
        <span class="label label-success" data-ng-if="volunteer.backgroundCheck">Background check form filled out {{volunteer.backgroundCheckDate}}</span>
        <span class="label label-danger" data-ng-if="!volunteer.backgroundCheck">Background check form not filled out</span>
        <hr>
        <h4>Address:</h4> {{volunteer.address1}}
        <br />
        <span data-ng-if="volunteer.address2.length > 1">{{volunteer.address2}} <br /></span> {{volunteer.city}}, {{volunteer.state}} {{volunteer.zip}}
        <hr>
        <h4>Contact Information</h4> E-Mail: {{volunteer.email}}
        <br />
        <span data-ng-if="volunteer.phoneHome">Home: {{volunteer.phoneHome}}<br /></span>
        <span data-ng-if="volunteer.phoneCell">Cell: {{volunteer.phoneCell}}<br /></span>
        <hr>
        <h4>Employment/Education</h4>
        <span data-ng-if="volunteer.school">School: {{volunteer.school}}<br /></span>
        <span data-ng-if="volunteer.degree">Degree: {{volunteer.degree}}<br /></span>
        <span data-ng-if="volunteer.employer">Employer: {{volunteer.employer}}<br /></span>
        <span data-ng-if="volunteer.jobTitle">Job Title: {{volunteer.jobTitle}}<br /></span>
        <hr>
        <h4>Areas of Interest</h4>
        <ul>
            <li data-ng-repeat="interest in volunteer.areasOfInterest">
                {{interest}}
            </li>
        </ul>
        <hr>
        <h4>Skills</h4>
        <ul>
            <li data-ng-repeat="skill in volunteer.specialSkills">
                {{skill}}
            </li>
        </ul>
        <hr>
        <h4>Locations</h4>
        <ul>
            <li data-ng-repeat="location in volunteer.locations">
                {{location}}
            </li>
        </ul>
        <hr>
        <h4>Availability</h4>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
                <h5>Monday</h5>
                <span data-ng-if="volunteer.availability.monday.morning"> Morn</span>
                <br>
                <span data-ng-if="volunteer.availability.monday.afternoon"> Aft</span>
                <br>
                <span data-ng-if="volunteer.availability.monday.evening"> Eve</span>
                <br>
            </div>
            <div class="col-md-1">
                <h5>Tuesday</h5>
                <span data-ng-if="volunteer.availability.tuesday.morning"> Morn</span>
                <br>
                <span data-ng-if="volunteer.availability.tuesday.afternoon"> Aft</span>
                <br>
                <span data-ng-if="volunteer.availability.tuesday.evening"> Eve</span>
                <br>
            </div>
            <div class="col-md-1">
                <h5>Wednesday</h5>
                <span data-ng-if="volunteer.availability.wednesday.morning"> Morn</span>
                <br>
                <span data-ng-if="volunteer.availability.wednesday.afternoon"> Aft</span>
                <br>
                <span data-ng-if="volunteer.availability.wednesday.evening"> Eve</span>
                <br>
            </div>
            <div class="col-md-1">
                <h5>Thursday</h5>
                <span data-ng-if="volunteer.availability.thursday.morning"> Morn</span>
                <br>
                <span data-ng-if="volunteer.availability.thursday.afternoon"> Aft</span>
                <br>
                <span data-ng-if="volunteer.availability.thursday.evening"> Eve</span>
                <br>
            </div>
            <div class="col-md-1">
                <h5>Friday</h5>
                <span data-ng-if="volunteer.availability.friday.morning"> Morn</span>
                <br>
                <span data-ng-if="volunteer.availability.friday.afternoon"> Aft</span>
                <br>
                <span data-ng-if="volunteer.availability.friday.evening"> Eve</span>
                <br>
            </div>
            <div class="col-md-1">
                <h5>Saturday</h5>
                <span data-ng-if="volunteer.availability.saturday.morning"> Morn</span>
                <br>
                <span data-ng-if="volunteer.availability.saturday.afternoon"> Aft</span>
                <br>
                <span data-ng-if="volunteer.availability.saturday.evening"> Eve</span>
                <br>
            </div>
            <div class="col-md-1">
                <h5>Sunday</h5>
                <span data-ng-if="volunteer.availability.sunday.morning"> Morn</span>
                <br>
                <span data-ng-if="volunteer.availability.sunday.afternoon"> Aft</span>
                <br>
                <span data-ng-if="volunteer.availability.sunday.evening"> Eve</span>
                <br>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <hr data-ng-init="getLogs()">
        <h4>Latest Hour Entries</h4>
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Hours Worked</th>
            </tr>
            <tr data-ng-repeat="log in hourLogs">
                <td>{{log.date | date:'MM-dd-yyyy'}}</td>
                <td>{{log.timeIn}}</td>
                <td>{{log.timeOut}}</td>
                <td>{{hoursToString(hoursWorked(log.timeIn, log.timeOut))}}</td>
            </tr>
        </table>
    </div>
</div>
